@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0c0b0b;
}

/* Nav */

a {
    text-decoration: none;
}

.header-text{
    display: flex;
    width: 100%;
    align-items: center;
    background: #1a1919;
    padding: 10px;
    color: #e4e4e4;
}

.header-text button {
    background: transparent;
    border: none;
}

.a-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.a-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(219, 190, 21);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.a-wrapper:hover span{
    color: rgb(219, 190, 21);
}

.a-wrapper:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.a-watchlist{
    text-decoration: none;
    font-size: .7rem;
    color: #e4e4e4;
    transition: 150ms ease-in-out;
}

.a-icon {
    color: #e4e4e4;
    width: 18px;
    height: 18px;
}

.a-icon:first-child{
    margin-bottom: 2px;
}

.header-text h1 {
    margin-right: auto;
}

/* Form */

form {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Form Search Bar */

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-text, .search-btn {
    border: none;
    height: 38px;
}

.faSearch {
    color: #e4e4e4;
    text-align: center;
}

.search{
    background: #2E2E2F;
    padding-left: 0.8125rem;
    border-radius: 0.375rem 0 0 0.375rem;
}

.search-text {
    background: none;
    color: #FFFFFF;
    padding: 0.5625rem 0.8125rem;
    width: 50vw;
    border: none;
    border-radius: 0.375rem 0 0 0.375rem;
}

.search-text:focus {
    outline: none;
}

.search-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    color: #FFFFFF;
    width: 7.5rem;
    border: none;
    background: #1a1919;
    transition: 150ms ease-in-out;
    border-radius: 0px 0.375rem 0.375rem 0px;
}

.search-btn:hover, .load-more-btn:hover{
    color: rgb(219, 190, 21);
    background: #131212;
}

/* Movie */

.movie-container {
    height: 75vh;
}

/* Center Icon & Text For Both Pages*/

.exploring, .watchlist-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 30vh;
}

.watchlist-center p, .exploring p{
    text-align: center;
    color: #e4e4e4;
    font-size: 18px;
    user-select: none;
}

.film-icon {
    color: #e4e4e4;
    font-size: 5rem;
}

.watchlist-center p{
    line-height: 28px;
    color: #787878;
}

.add-movies{
    display: flex;
    align-items: center;
}

.add-movies a{
    color: #FFFFFF;
}

.add-movies p{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}


.movie,.movie-info, .main-movie-container, .btn-div {
    display: flex;
}

.btn-div{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

.load-more-btn {
    padding: 5px 10px;
    cursor: pointer;
    color: #e4e4e4;
    background: #1a1919;
    border-radius: 5px;
    border: none;
}

.main-movie-container{
    flex-direction: column;
}

.movie-container {
    display: flex;
    flex-direction: column;
    height: 170px;
    gap: 8px;
    margin-left: 1.3125rem;
}

.movie {
    width: 55vw;
    align-content: center;
    margin: 0 auto;
    margin-top: 1.5625em;
    height: 150px;
    border-bottom: 1.5px solid #2C2C2C;
}

.movie img {
    width: 99px;
    padding-bottom: 1.25rem;
    height: 147.41px;
    border-radius: 5px;
}

.movie-info h1 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 20px;
    color: #FFFFFF;
}

.movie-info p {
    font-size: 0.75rem;
    line-height: 20px;
    color: #FFFFFF;
}

span{
    display: flex;
    flex-direction: row;
}

.fa-circle-minus, .fa-circle-plus {
    color: #e4e4e4;
    text-align: center;
    margin-top: 2px;
    height: 14px;
    width: 14px;
}

.fa-circle-plus:hover, .fa-circle-minus:hover{
    cursor: pointer;
    color: #FEC654;
}


.movie-info .fa-star {
    margin: 0 4px;
    color: #FEC654;
    border-radius: 0.75px;
    padding-top: 0.25rem;
    font-size:0.65rem;
}

.movie-info .movie-desc {
    overflow: auto;
    color: #A5A5A5;
}

.time, .genre {margin-right: 10px;}
.fa-circle-plus, .fa-circle-minus {margin-right: 4px;}


/* Media */

@media(max-width: 930px){
    .movie{
        width: 95vw;
    }
}

@media(max-width: 535px){
    .header-text h1 {
        font-size: 2.5rem;
    }
    .movie-info p, .movie-info .movie-desc{
        font-size: 0.625rem;
    }
}

@media(max-width: 384px){
    .header-text h1 {
        font-size: 2rem;
    }
    .movie-info p, .movie-info .movie-desc{
        font-size: 0.525rem;
    }
    .movie img {
        padding-bottom: 1.25rem;
        height: 147.41px;
        border-radius: 5px;
    }
}

@media(max-width: 280px){
    #search-text {
        padding: 0.525rem 0.7125rem;
        gap: 0.5rem;
        width: 35vw;
    }
    #search-btn {
        font-weight: 500;
        font-size: 0.875rem;
        padding: 5px 7px 4px 13px;
        width: 5.5em;
    }
    .header-text h1 {
        font-size: 1.5rem;
    }
    .movie-info h1{
        font-size: 0.5rem;
    }
    .movie-info p, .movie-info .movie-desc{
        font-size: 0.37rem;
        overflow: hidden;
    }
    .movie img {
        padding-bottom: 1.25rem;
        height: 147.41px;
        border-radius: 5px;
    }
}